@charset "UTF-8";

body {
	width: 80%;
	margin: auto;
}

.text {
	text-align: center;
	font-size: 13px;
}

.form p {
	font-size: 20px;
}

.form {
	width: 100%;
	margin: auto;

}
.form-out {
    width: 40%;
    margin: auto;
    border: solid 1px black;
    padding: 5%;
    border-radius: 8px;
    height: 88%;
}
.text-name-age input{
    border-top: none;
    border-left: none;
    border-right: none;
}

.submit {
	width: 100%;
	border-radius: 5px;
    box-shadow: inset 0 -3px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 0.5px solid #8c8c9e;
    margin-top: 13px;
    padding: 9px;
}

.name {
	display: flex;
	margin: 10px 10px 10px;
	border-bottom: solid 1px;
}

.age {
	display: flex;
	margin: 10px 10px 10px;
	border-bottom: solid 1px;
	padding-top: 10%;
}